
/*------------------- Navigation -------------------*/







/*-------------------- Footer ----------------------*/

.container-fluid { 
    padding: 0;
    }

#footerinfo {
    background-color: #C0DBEA;
    color: #000;
}

.social-media {
  text-align: center;
}

.social-media li {
  display: inline;
}

.social-media i {
  font-size: 100%;
  margin: 5px;
  padding: 5px;
  color: #777777;
}
