@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
	font-family: "Poppins", "Serif";
}

/*------------------- Navigation -------------------*/

.logo {
	width: 100px;
	align-content: center;
}
 nav {
	background-color: #FDF4F5;
 }

.nav .nav-link {
  	color: #000;
}
 
.nav .active {
	border-bottom: 2px solid #BA90C6;
  	color: #BA90C6;
	font-weight: 600;
}

.nav .nav-link:hover {
	color: #BA90C6;
}

/*--------------- Hero Image & Cover Text -------------*/

#hero {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	background-image: url(../images/hero-index.jpg); 
	width: auto;
	height: 550px;
	background-attachment: fixed; 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top center;
}
  

#hero h2 {
	font-family: "Poppins", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: italic;
	font-size: 70px; 
	letter-spacing: 10px; 
	text-align: center; 
	color: white; 
  	text-shadow: -1px -1px 0 black;
	text-transform: uppercase; 
	z-index: 10; 
	opacity: .9;
}

#hero p {
	font-family: "Poppins", serif;
  	font-optical-sizing: auto;
  	font-weight: 200;
  	font-style: italic;
	font-size: 20px; 
	letter-spacing: 8px; 
	text-align: center; 
	color: white; 
	text-transform: uppercase; 
	z-index: 10; 
	opacity: .9;
}

/*-------------------- About Us --------------------*/

#about {
	background-color: #C0DBEA;
	padding-bottom: 10px;
}

.about-logo {
	height: 400px;
	width: 650px;
	align-content: center;
}

#about .about-description {
	color: #000;
	padding: 100px 80px;
}

#about .about-description h4 {
	color: #BA90C6;
}

/*------------------ Testimonials ------------------*/

#ourtestimonials {
  background-color: #FDF4F5;
}

.testimonials > img {
	height: 400px;
	width: auto;
}

.testimonials {
	color: #fff;
  background-color: #FDF4F5;
}

.card-title {
  font-size: 100%;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  width: 300px;
  height: 100px;
  padding-top: 15px;
  padding-left: 20px;

  background-color: rgba(128, 128, 128, 0.5);
  bottom: 30px;
  right: 80px;

  position: absolute;
}

/*-------------------- Services ----------------------*/

#service-hero {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	background-image: url(../images/hero-services.jpg); 
	width: auto;
	height: 550px;
	background-attachment: fixed; 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top center;
}
  

#service-hero h2 {
	font-family: "Poppins", serif;
  	font-optical-sizing: auto;
  	font-weight: 800;
  	font-style: italic;
	font-size: 70px; 
	letter-spacing: 10px; 
	text-align: center; 
	color: white; 
  	text-shadow: -1px -1px 0 black;
	text-transform: uppercase; 
	z-index: 10; 
	opacity: .9;
}

.services h3, p {
	align-content: center;
}
.services p {
	font-style: italic;
}
.service-image{
	width: 100px;
	align-content: center;
}

/*-------------------- Gallery ----------------------*/ 
/* Adaptive Photo Layout with Flexbox */

.gallery ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
  }
  
  .gallery li {
	height: 30vh;
	flex-grow: 1;
  }
  
  .gallery img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
  }

/*-------------------- Contact ----------------------*/ 

  #contact-hero {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	background-image: url(../images/hero-contact.jpg); 
	width: auto;
	height: 400%;
	background-attachment: fixed; 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top center;
	background-position-y: -150px;
}
  

#contact-hero h2 {
	font-family: "Poppins", serif;
  	font-optical-sizing: auto;
  	font-weight: 800;
  	font-style: italic;
	font-size: 70px; 
	letter-spacing: 10px; 
	text-align: center; 
	color: white; 
  	text-shadow: -1px -1px 0 black;
	text-transform: uppercase; 
	z-index: 10; 
	opacity: .9;
}

/*-------------------- Form ----------------------*/

.form {
	background-color: #FDF4F5;
}

#contact-form h3 {
	text-transform: uppercase;
	text-align: center;
	padding: 12px 0;
}

/*-------------------- Footer ----------------------*/

.container-fluid { 
    padding: 0;
    }

#footerinfo {
    background-color: #C0DBEA;
    color: #000;
}

#footerinfo h4{
	border-bottom: 2px solid #fff;
	padding-bottom: 10px;
}

.social-media {
  text-align: center;
}

.social-media ul {
  padding: 0px;
  margin: 5px;
}

.social-media li {
  display: inline;
}

.social-media i {
  font-size: 100%;
  margin: 5px;
  padding: 5px;
  color: #777777;
}

/*------------------- Media Queries ------------------*/

@media screen and (max-width: 992px) {
	

	
}


@media screen and (max-width: 800px)